
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/logo.png"
  />
  <span>Bienvenido</span>
    <div class="spacer"></div>
    <div>
      <ul>
        <a routerLink=""><li>Cómo funcionamos</li></a>
        <a routerLink=""><li>Tarifas</li></a>
        <a routerLink="/cursos"><li>Cursos</li></a>
        <a routerLink="/profesores"><li>Profesores</li></a>
        <a routerLink="/contacto"><li>Contacto</li></a>
        <a routerLink="/acceso"><li>Acceso</li></a>
        <a routerLink="/registro"><li>Registro</li></a>
      </ul>
    </div>
  </div>
  
  <br>
  <br>
  <router-outlet></router-outlet>
  <app-footer></app-footer>