*{
    padding:10px;
    border-radius: 10px;
    margin:10px;
}

div{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#CDEAE8 ;
    color:#00214A;
}

h1{
    color: #ff82f4
}