<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput required type="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label >Elige una opción</mat-label>
    <mat-select>
      <mat-option value="one">Soy alumno</mat-option>
      <mat-option value="two">No soy alumno</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput required></textarea>
  </mat-form-field>
  <button type="submit">Enviar</button>
